<div class="row">
 <main class="col-md-12">
 <br>
 <h2>{{viewData.student.firstName}} {{viewData.student.lastName}} - Student: {{viweData.student.studentNum}}</h2>
 <hr />
 <a href="/students/add" class="btn btn-success float-right">Add New Student</a>
 <form method="post" action="/student/update">
 <input type="hidden" name="studentNum" value="{{viewData.student.studentNum}}" />
 <fieldset>
 <legend>Personal Information</legend>
 <div class="row">
 <div class="col-md-6">
 <div class="form-group">
 <label>First Name:</label>
 <input class="form-control" name="firstName" type="text" value="{viewData.student.firstName}}" />
 </div>
 </div>
 <div class="col-md-6">
 <div class="form-group">
 <label>Last Name:</label>
 <input class="form-control" name="lastName" type="text" value="{{viewData.student.lastName}}" />
 </div>
 </div>
 </div>
 </fieldset>
 <hr />
 
 <div class="col-md-6">
  <div class="form-group">
    <label>Email:</label>
    <input class="form-control" name="email" type="email" value="{{viewData.student.email}}" />
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label>Address (Street):</label>
    <input class="form-control" name="addressStreet" type="text" value="{{viewData.student.addressStreet}}" />
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label>Address (City):</label>
    <input class="form-control" name="addressCity" type="text" value="{{viewData.student.addressCity}}" />
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label>Address (Province):</label>
    <input class="form-control" name="addressProvince" type="text" value="{{viewData.student.addressProvince}}" />
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <label>TA:</label>
    <input class="form-control" name="TA" type="checkbox" {{#if student.TA}}checked{{/if}} />
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <label>Status:</label><br />
    <input type="radio" name="status" value="Full Time" {{#equal student.status "Full Time"}}checked{{/equal}}> Full Time
    <input type="radio" name="status" value="Part Time" {{#equal student.status "Part Time"}}checked{{/equal}}> Part Time
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <label>Action </label><br />
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/students/delete/{{student.studentNum}}" class="btn btn-danger">Remove</a>
    </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <label>Course:</label>
    {{#if viewData.courses}}
  <select class="form-control" name="course" id="course">
    <option value="">Select Course</option>
    {{#each viewData.courses}}
      <option value="{{courseId}}" {{#if selected}} selected {{/if}}>{{courseCode}}</option>
    {{/each}}
  </select>
{{else}}
  <div>No Courses</div>
{{/if}}
    <hr />
    <input type="submit" class="btn btn-primary float-right" value="Update Student" /><br /><br /><br />

  </div>
</div>
</form>
 </main>
</div>